@using EntityLayer.Concrete
@model List<Category> 

@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Durum</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryID</td>
            <td>@category.CategoryName</td>
            <td>@category.CategoryStatus</td>
        </tr>
    }
</table>
<a href="/Category/AddCategory" class="btn btn-primary">Yeni Kategori Ekle</a>